# Startup parameters for InfluxDatas Chronograf service

CHRONOGRAF_OPTS="--public-url {{ chronograf_public_url }} --token-secret {{ nfluxdb_chronograf_oauth_github_secret }} --github-client-id {{ influxdb_chronograf_oauth_github_id }} --github-client-secret {{ influxdb_chronograf_oauth_github_secret }} --github-organization {{ influxdb_chronograf_oauth_github_org }}"
