# Startup parameters for InfluxDatas Chronograf service

CHRONOGRAF_OPTS="--public-url {{ chronograf_public_url }} --auth-duration={{ influxdb_chronograf_oauth_duration }} --token-secret {{ influxdb_chronograf_oauth_secret }} --github-client-id {{ influxdb_chronograf_oauth_github_id }} --github-client-secret {{ influxdb_chronograf_oauth_github_secret }} --github-organization {{ influxdb_chronograf_oauth_github_org }}"
